.App {

  text-align: center;
}

body{
 
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: url("https://cdn.wallpapersafari.com/88/57/GaNzKq.jpg");
  background-color: white;
  color: white;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center; 
}





.SignInPage {
  display: flex;
  justify-content: center;
  text-align: center;

}
input {
 
  text-align: center;

  padding: 15px 25px;
  margin: 8px 0;
  box-sizing: border-box;
}
.SignInGoogle{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
  
}
button {
  text-align: center;

  padding: 15px 25px;
  margin: 8px 0;
  box-sizing: border-box;
}
.logOut {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  top:50%;
  align-content:flex-start;

  
  margin: 15px auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size:x-large;
  background-color: white;
  color:black;
  border-radius: 15px;
  border-color: lime;
  padding: 15px 25px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  padding:20px;
  min-height:20px; 
  min-width: 100px;
 
  
}